<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br/>
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media_left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>

      <% end %>

      <div class="media-body">
        <h2 class="media-heading"><%= @user.email %></h2>
        <div class='js-items-count'><%= pluralize(@user.items.count, 'item') %></div>
      </div>

    </div>

  </div>

</div>
<%= Time.now %>
<h2>Items</h2>
<div class='js-items'>
    <%= render @user.items %>
</div>

<div class='new-item'>
    <h2>New Item</h2>
    <%= render 'items/form', item: Item.new, user: @user %>
</div>
